/* width 1344px */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
}
@media (max-width: 75.6em) {
  .container {
    padding: 0 3.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  .grid--6--col {
    gap: 0.5rem;
  }
  .header {
    padding: 2.4rem 3.2rem;
  }
}
@media (max-width: 62.5em) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
    gap: 4.8rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s;
    backdrop-filter: blur(8px);
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
  .main-nav-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .menu {
    display: block;
  }
  .hero-section {
    padding: 9.6rem 3.2rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    text-align: center;
  }
  .founder-box {
    margin: 0 auto;
    text-align: start;
    margin-top: 4.8rem;
    color: #333;
    width: 100%;
  }
  .hero-img-box {
    justify-content: center;
  }
  .main-service-box-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
  }
  .service-title {
    font-size: 2;
  }
  .main-service-box {
    justify-self: center;
    width: 90%;
  }
  .center {
    grid-column: 1 / -1;
    width: 43%;
  }
  .testimonial-container {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .testimonial {
    border-radius: 11px;
    overflow: hidden;
  }
  .testimonial-one .customer-text-box {
    padding-top: 9.6rem;
  }
  .testimonial-two .customer-text-box {
    padding-top: 12.8rem;
  }
  .other-service-container {
    padding: 9.6rem 6.4rem 0;
  }
  .other-service-container-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .dots {
    margin-top: 3.2rem;
  }
  .step-icon-box {
    justify-content: start;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 44em) {
  .grid--4--col,
  .grid--3--col {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
  }
  .other-service-container {
    padding: 9.6rem 0;
  }
  .main-service-box-container {
    width: 100%;
  }
  .center {
    width: 47%;
  }
  .btn-icon,
  .dots {
    display: none;
  }
}
@media (max-width: 39em) {
  .grid--2--col,
  .grid--3--col,
  .grid--4--col {
    grid-template-columns: 1fr;
  }

  .nav-icon {
    padding-right: 0.8rem;
  }

  .input-box label {
    font-size: 1.8rem;
  }

  .hero-img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .main-service-box {
    width: 90%;
    margin: 0 auto;
  }
  .other-service-container-box {
    width: 90%;
    margin: 0 auto;
  }
  .static-box-title {
    font-size: 2rem;
  }
  .form {
    left: 2%;
  }
}
@media (max-width: 26.25em) {
  .founder-box {
    width: 100%;
  }
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.6rem 2.4rem;
  }
}
